<div class="container">
  <div class="row mt-2">
    <div class="col-2 offset-10 text-right">
      <%= link_to 'Back', games_path, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <%= image_tag @game.avatar%>
        <div class="card-body">
          <h5 class="card-title"><%= @game.name %></h5>
          <p class="card-text"><%= @game.description %></p>
        </div>
        <div class="card-footer">
          <%= link_to raw('<i class="fa fa-edit"></i>'), edit_game_path(@game), class: "btn btn-info" %>
          <%= link_to raw('<i class="fa fa-download"></i>'), edit_game_path(@game), class: "btn btn-warning" %>
        </div>
      </div>
    </div>
    
    <div class="col-4">
      <% @components.each do |component| %>
        <ul class="list-unstyled">
          <%= render 'component_detail', component: component%>
        </ul>
      <% end %>

      <% @rules.each do |document| %>
        <ul class="list-unstyled">
          <%= render 'rule_detail', document: document %>
        </ul>
      <% end %>
    </div>
    
  </div>
</div>
