<p id="notice"><%= notice %></p>

<h1>Products</h1>
    <div class="container mg-5">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header">
                <h6 class="card-title"><%= product.name %></h3>
              </div>
              <div class="card-body">
                <p><%= number_to_currency(product.price) %></p>
              </div>
              <div class="card-footer">
                <%= link_to 'Agregar al carrito', add_product_purchase_order_index_path(product_id: product.id), method: :post, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
      <% end %>
  </div>
<br>

<%= link_to 'New Product', new_product_path %>
